body{
    background-color: lightgray;
}

#loading{
    display: none;
}
#comparison_table{
    border-collapse: collapse;
    text-align: center;
}

.turreted_field,
.non_turreted_field{
    display: none;
}

.tank_filter{
    display: inline-block;
    cursor: pointer;
    margin: 2px;
}

.tier{
    color: gold;
    background: silver;
    width: 27px;
}

.active{
    border: solid 1px yellow;
}

.filter_wrap{
    width: 160px;
    margin: 0 auto;
}

.module_selects{
    display: none;
    /*text-align: left;*/
}

.usa{
    background: url('/wotstrat/images/usa.png');
    height: 20px;
    width: 48px;
}

.china{
    background: url('/wotstrat/images/china.png');
    height: 20px;
    width: 48px;
}

.germany{
    background: url('/wotstrat/images/germany.png');
    height: 20px;
    width: 48px;
}

.ussr{
    background: url('/wotstrat/images/russia.png');
    height: 20px;
    width: 48px;
}

.uk{
    background: url('/wotstrat/images/uk.png');
    height: 20px;
    width: 48px;
}

.france{
    background: url('/wotstrat/images/france.png');
    height: 20px;
    width: 48px;
}

.light{
    background: url('/wotstrat/images/light.png');
    height: 10px;
    width: 10px;
}

.medium{
    background: url('/wotstrat/images/medium.png');
    height: 10px;
    width: 10px;
}

.heavy{
    background: url('/wotstrat/images/heavy.png');
    height: 10px;
    width: 10px;
}

.td{
    background: url('/wotstrat/images/td.png');
    height: 10px;
    width: 10px;
}

.spg{
    background: url('/wotstrat/images/spg.png');
    height: 10px;
    width: 10px;
}