body{
    background-color: lightgray;
}

#loading{
    display: none;
}
#comparison_table{
    border-collapse: collapse;
    text-align: center;
}

.turreted_field,
.non_turreted_field{
    display: none;
}

.tank_filter{
    display: inline-block;
    cursor: pointer;
    margin: 2px;
}

.nation{
    height: 20px;
    width: 48px;
}

.tier{
    color: gold;
    background: silver;
    width: 27px;
}

.class{
    height: 10px;
    width: 10px;
}

.active{
    border: solid 1px yellow;
}

.filter_wrap{
    width: 160px;
    margin: 0 auto;
}

.module_selects{
    display: none;
    /*text-align: left;*/
}

.usa{ background: url('../images/usa.png');}

.china{ background: url('../images/china.png');}

.germany{ background: url('../images/germany.png');}

.ussr{ background: url('../images/russia.png');}

.uk{ background: url('../images/uk.png');}

.france{ background: url('../images/france.png');}

.light{ background: url('../images/light.png');}

.medium{ background: url('../images/medium.png');}

.heavy{ background: url('../images/heavy.png');}

.td{ background: url('../images/td.png');}

.spg{ background: url('../images/spg.png') no-repeat;}